<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><small>(by: <%= song.user %>)</small></h3>
<!--     <h3><a href="/messages/<%= message.id %>"><%= message.title %> <small>(by: <%= message.author %>)</small></h3> -->
    <p>
      <i><font color="green"><%= song.title %></font></i>
    </p>
    <p>
      <i><font color="blue"><%= song.url %></font></i>
    </p>
    <hr width="50%" align="left">
  </div>
<% end %>